:root{
    --turquoise: #568281;
    --font-color: #FFFFFF;
    --section-color: #D3E1E1;
    --beige: #d6c19d;
    --black: #000000 ;
    --orange: #fdb249 ;
    --hour_turquoise: #20D2C8; 
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    min-width: 320px;
}
header .menu-section{
    display: flex;
}
.menu ul{
    height: auto;
}
.menu ul li{
    margin-top: 0px;
}
.menu nav img{
    display: none;
}
.menu nav{
    position: static;
    right: none;
    height: auto;
    background: none;
    padding: 0px;

}
.menu-section{
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
  }
.menu-section li{
    display: inline-block;
}
.menu-section li a{
    display: inline-block;
   font-size: 1.4rem;
   margin: 5px;
   text-decoration: none;
   color: var(--turquoise);
}
.menu #btn_menu{
    display: none;
}
.menu ul {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
}

.row--left {
  flex-direction: row-reverse; 
}

.row--right {
  flex-direction: row; 
}


.text-colored {
  font-size: 36px;
}

.div-info-container .text {
  width: 80%;
}

.div-info-container .intro_svg {
  width: calc(45rem - 5px);
  height: calc(360px - 5px);
  margin-right: auto;
}

.div-info-container .intro_svg img {
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 20%;
}

.col-md-6 {
  margin-left: -50px;
}

.div-info-container .opcs {
  margin-bottom: 10px;
}

.div-info-container .image_svg {
  width: calc(45rem - 5px);
  height: calc(360px - 5px);
  margin-left: 80px;
}


.div-info-container .image_svg img{
  width: auto;
  height: auto;
  max-width: 140%;
  border-radius: 10%;
  }


.div-info-container .text h2{
  margin-right: 50px ;
  font-size: 3.5rem;
}
#virtual .image_svg::before {
  content: "";
  width: 160%;
  padding-top: 160%;
}

#virtual .image_svg img{
  border-radius: 100%;
}


  