/* Estilos generales para el documento HTML */

/* Ajuste del tamaño del texto */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4; /* Espaciado entre líneas */
}

/* Definición de variables personalizadas */
:root {
    --paradiso: #3E8E98;
    --sandy: #F4A26C;
    --aqua: #A8D6DC;
    --font-color: #FFFFFF;
    --dark-parad: #32727A;
    --gris: #D9D9D9;
}

/* Estilos para todos los elementos */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Estilos específicos para el documento HTML */
html {
    font-size: 62.5%; /* Establece el tamaño base de la fuente en 10px */
    font-family: 'DM Sans', sans-serif; /* Fuente predeterminada para el documento */
    min-width: 240px; /* Ancho mínimo del documento */
}

/* Estilos para el cuerpo del documento */
body {
    font-family: "Arial", Segoe UI, Tahoma, sans-serif, Helvetica Neue, Helvetica; /* Fuente para el cuerpo del documento */
}

/* Estilos para la cabecera */
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* Ancho mínimo para dispositivos celulares */
    height: 50px;
    text-align: center;
    border-bottom: 2px inset; /* Borde inferior */
}

/* Estilos para la sección de encabezado */
header .section_header {
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
}

/* Estilos para la figura del encabezado */
header .figure_header {
    width: 100px;
    height: 48px;
    position: relative;
    display: flex;
    margin-top: 1px;
}

/* Estilos para la sección del menú */
.menu-section {
    display: none;
}

/* Estilos para el menú */
.menu {
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}

/* Estilos para la lista dentro del menú */
.menu ul {
    display: flex;
    flex-direction: column;
    color: #d3e1e1;
    text-align: center;
    height: 10px;
    width: auto;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}

/* Estilos para los elementos de la lista dentro del menú */
.menu ul li {
    margin-top: 30px;
    margin-left: 0;
    list-style: none;
}

/* Estilos para los enlaces dentro de la lista del menú */
.menu ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    margin: 5px;
    color: #528281;
    transition: color 0.4s ease;
}

/* Estilos al pasar el mouse sobre los enlaces del menú */
.menu ul li a:hover {
    color: black;
    margin-left: 3rem;
}

/* Estilos para la navegación del menú */
.menu nav {
    display: block;
    position: fixed;
    top: 0;
    right: -250px; /* Menú oculto por defecto */
    background: white;
    height: 100vh;
    padding: 40px;
    z-index: 2;
    transition: all 300ms;
}

/* Estilos para los enlaces dentro del menú de navegación */
.menu nav img {
    margin: 10px;
    display: block;
    text-align: center;
    width: 120px;
    height: auto;
    background-color: transparent;
    border-radius: 10px;
    display: inline-block;
    margin-left: 10px;
}

/* Estilos para el fondo oscuro del menú */
#back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 2;
}

/* Estilos para el botón de menú */
.menu #btn_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #528281;
    background: rgba(226, 219, 219, 0.1);
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms;
}

/* Estilos para el botón de menú al pasar el mouse */
.menu #btn_menu:hover {
    background: rgba(12, 12, 12, 0.1);
}

/* Estilos para el encabezado del menú */
header .menu-header {
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}

/* Estilos para el elemento seleccionado */
#selected {
    background: transparent;
    border: 2px solid #fdb249;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 50px;
    transition: 0.4s;
}

/* Estilos al pasar el mouse sobre el elemento seleccionado */
#selected:hover {
    color: black;
}

/* Estilos para la imagen del logo */
.logo img {
    width: 160px;
}

/* Estilos para el contenido principal */
main {
    width: 100%;
    height: auto;
}



/* Estilos para el pie de página */
.pie-pagina {
    position: relative;
    width: 100%;
    background-color: var(--font-color);
    text-align: center;
    min-width: 320px;
    margin-top: 40px;
}

/* Estilos para el pie de página de la sección de derechos de autor */
.pie-pagina .footer_copy {
    background-color: var(--section-color);
    padding: 15px 10px;
    text-align: center;
    color: var(--turquoise);
}

/* Estilos para el texto del pie de página */
.pie-pagina .footer_copy small {
    font-size: 15px;
}

/* Estilos de adaptación para dispositivos móviles */
@media (max-width: 750px) {
    /* Ajustes para la lista de datos en dispositivos móviles */
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    /* Ajustes para la portada y el cuerpo del perfil de usuario en dispositivos móviles */
    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    /* Ajustes para los iconos en el pie de página en dispositivos móviles */
    .perfil-usuario-footer .footer-users i {
        margin-left: -20px;
    }

    /* Ajustes para la sección de redes sociales en dispositivos móviles */
    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center;
    }

    /* Ajustes para los botones de redes sociales en dispositivos móviles */
    .seccion-perfil-usuario .redes-sociales .boton-redes + .boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}

