html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}
:root{
    --turquoise: #568281;
    --font-color: #FFFFFF;
    --black: #000000 ;
    /* News */
    --paradiso: #3E8E98;
    --sandy: #F4A26C;
    --aqua: #A8D6DC;
    --dark--parad: #32727A;
    --fountain: #63B5BF;
    --gris: #D9D9D9;
    --gray--clean: #f9fafe;
    --section--color: #E0E8FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    min-width: 240px;
}

body {
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* dimension más chica de los celulareas */
    height: 50px;
    text-align:center;
    border-bottom: 2px inset;
}
header .section_header{
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
}
header .figure_header{
    width: 100px;
    height: 48px;
    position: relative;
    display: flex;
    margin-top: 1px;
}
.menu-section{
    display: none;
   
}
.menu{
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}

.menu ul {
    display: flex;
    flex-direction: column;
    color: #d3e1e1;
    text-align: center;
    height: 10px;
    width: auto;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}


.menu ul li {
    margin-top: 30px;
    margin-left: 0;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    font-size: 1.4rem;
    margin: 5px;
    color: #528281;
    transition: color 0.4s ease;
    transition: 0.4s;
}
.menu ul li a:hover{
    color:black;
    margin-left:3rem;
}
.menu nav{
    display: block;
    position: fixed;
    top: 0;
    right: -250px;
    background: white;
    height: 100vh;
    padding: 40px;
    z-index: 2;
    transition: all 300ms;
}



.menu ul li a{
    color:var(--turquoise);
}

.menu nav img{
    margin:10px;
    display: block;
    text-align: center;
    width: 120px;
    height: auto;
    background-color: transparent;
    background-position:0cqb;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px var(--turquoise); */
    display: inline-block;
    margin-left: 10px;
}

#back_menu{ /* el tamaño del menu que se mostrara */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 2;
}

.menu #btn_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #528281;
    background: rgba(226, 219, 219, 0.1);
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms;
}
#btn_menu:checked ~ main {
    background-color: #333;
  }

.menu #btn_menu:hover{
    background:rgba(12, 12, 12, 0.1);
}


header .menu-header{
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}

#selected{
background:transparent;
border:2px solid #fdb249;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
padding: 12px;
border-radius: 50px;
transition: 0.4s ;
} 
#selected:hover{
color: black;
}

.logo img{
width: 160px;

}

/*=====================================
estilos de la utilidad
Copiar esto
=====================================*/
main{
    width: 100%;
    min-height: 90vh;
    align-content: center;
}
.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* .seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#B873FF, transparent);
    margin-bottom: 1.25rem;
} */

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 9rem;
}

/* .perfil-usuario-body .perfil-usuario-bio{
    position: relative;
} */

.perfil-usuario-bio input{
    margin: auto;
    width: 40%;
    height: 30px;
    margin-top: 12px;
    outline: 12px;
    border-style: groove;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}

.container--info{
    margin: auto;
    height: auto;
    margin-top: 12px;
    outline: 12px;
    text-align: center;
}  

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}



.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -45px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.perfil-usuario-footer .footer-users{
    padding: 12px 12px 12px 12px;
    text-align: center;
}
.perfil-usuario-footer .footer-users.psico{
    display: flex;
    flex-direction: column;
    padding: 12px 12px 12px 12px;
    text-align: justify;
    max-width: 308px;
    justify-content: center;
    align-items: center;
}
.perfil-usuario-footer .footer-users input{
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
}
.perfil-usuario-footer .footer-users select {
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
}
.perfil-usuario-footer .footer-users i{
   /*  position: absolute; */
    /* margin-left: 20px;
     */
}

.footer-users-container .button{
    
    text-decoration: none;
    border: none;
    padding: 7px 8px;
    font-size: 17px;
    background: var(--aqua);
    font-weight: 600;
    cursor: pointer;
    color: var(--dark--parad);
    outline: none;
    transition: all 300ms;
    border-radius: 10px;
    margin: 14px;
}
.footer-users-container .button:hover{
    background: var(--aqua);
    color: var(--sandy);
}

.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px var(--turquoise);
    background-color: #fff;
    border-radius: 50px;
    width: 100%;
    justify-content: center;
}
.footer-users-container{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px var(--turquoise);
    background-color: #fff;
    border-radius: 50px;
    width: 100%;
    justify-content: center;
}
.seccion-perfil-usuario .perfil-usuario-footer{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 50px;
    width: 100%;
    justify-content: center;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    width: 100%;
    height: auto;
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.seccion-perfil-usuario .boton-redes.facebook {
    background-color: #5955FF;
}

.seccion-perfil-usuario .boton-redes.twitter {
    background-color: #35E1BF;
}

.seccion-perfil-usuario .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

/*PARA CEPERAR LOS BOTENES DEL MODIFICAR*/
.button {
    margin: 0 10px; /* Esto añade un margen a la izquierda y a la derecha de cada botón */
}

/* para el footer */
.pie-pagina {
    position: relative;
    width: 100%;
    background-color:var(--font-color);
    text-align: center;
    min-width: 320px;
    margin-top: 40px;
}
.pie-pagina .footer_copy{
    background-color: var(--section-color);
    padding: 15px 10px;
    text-align: center;
    color:var(--turquoise);
}
.pie-pagina .footer_copy small{
    font-size: 15px;
}
/* adactacion a dispositivos */
@media (max-width: 750px) {

    
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .perfil-usuario-footer .footer-users i {
    margin-left: -20px;

}

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}