/* lo que debe tener si o si el aplciativo */
:root{
    --turquoise: #568281;
    --font-color: #FFFFFF;
    --section-color: #D3E1E1;
    --beige: #d6c19d;
    --black: #000000 ;
    --orange: #         ;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    min-width: 320px;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* dimension más chica de los celulareas */
    height: 50px;
    text-align:center;
    border-bottom: 2px inset;
}
header .section_header{
    width: 100%;
    height: 49px;
    position: relative;
    display: flex;
}
header .figure_header{
    width: 100px;
    height: 48px;
    position: relative;
    display: flex;
    margin-block: 3px;
}
.menu-section{
    display: none;
   
}
.menu{
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}

.menu ul{
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 1.4rem;
    margin: 5px;
    color: #528281;
    transition: color 0.4s ease;
}
.menu ul li a:hover{
    color:black;
}
#selected{
    background:transparent;
    border:2px solid #fdb249;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 50px;
    transition: 0.4s ;
} 
#selected:hover{
    color: black;
}

.logo img{
    width: 160px;
    
}
.menu nav{
    display: block;
    position: fixed;
    top: 0;
    right: -250px;
    background: white;
    width: 250px;
    height: 72vh;
    padding: 40px;
    z-index: 1;
    transition: all 300ms;
}

.menu ul{
    flex-direction: column;
    color: #d3e1e1;
    text-align: center;
    text-align-last:left;
    height: 10px;
    width: auto;
}

.menu ul li{
    margin-top: 30px;
    margin-left: 0;
}

.menu ul li a{
    color:var(--turquoise);
}

#selected{
    background:transparent;
    border:2px solid #fdb249;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-size: auto;
    display:inline-flex;
    transition: 0.4s ; 
    justify-content: center;  

}

.menu nav img{
    margin:10px;
    display: block;
    text-align: center;
    width: 120px;
    height: auto;
    background-color: transparent;
    background-position:0cqb;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px var(--turquoise); */
    display: inline-block;
    margin-left: 10px;
}

#back_menu{ /* el tamaño del menu que se mostrara */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}

.menu #btn_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #528281;
    background: rgba(226, 219, 219, 0.1);
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms;
}

.menu #btn_menu:hover{
    background:rgba(226, 219, 219, 0.1);
}

header .menu-header{
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}
main {
    width: 100%;
    min-width: 320px;
    height: auto;
}
.title--main{
    text-align: center;
    margin: 20px;
}
.figure-consult {
    display: flex;
    justify-content: center;
}
.figure-consult img{
    width: 212px;
    height: 187px;
}
.form--consult{
    display: flex;
    min-width: 230px;
    padding: 10px;
    justify-content: center;
}
.div--content{
    display: flex;
    align-items: center;

}
.form--logo{
    position: absolute;
    margin-left: 10px;
}
.form--consult input{
    text-align: center;
    background: #eeecec;
    padding: 10px;
    border-radius: 17px;
    border: 1px;
    font-size: 18px;
}
.subtitle {
    display: flex;
    justify-content: center;
    font-size: 2.0rem;
}
.cites--container{
    display: grid;
    margin: 10px;
    justify-content: center;
}
.container--history{
    margin-top: 10px;
    display: flex;
    background-color: var(--section-color);
    border-radius: 70px;
    padding: 10px;
    align-items: center;
}
.info--container {
    width: 80%;
}
.info--container section{
    display: flex;
}
.info--container p{
    margin-left: 5px;
    font-size: 1.1rem;
}
.info--container h4{
    margin-left: 10px;
    font-size: 1.1rem;
}

.container--history a{
    display: flex;
    width: 60px;
    background-color: #8bc2c1;
    color: var(--black);
    text-decoration: none;
    text-align: center;
    margin: 10px 0px;
    border-radius: 15px;
    padding: 10px;
    transition: 300ms;
    justify-content: end;
}
.container--history a:hover{
    background-color: var(--turquoise);
}

.back--bottom{
    display: flex;
    background-color: var(--section-color);
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    margin: 10px;   
    width: 75.96px;
    height: 33.26px;
    border-radius: 15px;
    padding: 5px;
    justify-content: center;
    position: relative;
    left: 70%;
    transition: 300ms;
}

.back--bottom:hover{
    background-color: var(--turquoise);
}
/* para el footer */
.pie-pagina {
    position: relative;
    width: 100%;
    background-color:var(--font-color);
    text-align: center;
    min-width: 320px;
}
.pie-pagina .footer_copy{
    background-color: var(--section-color);
    padding: 15px 10px;
    text-align: center;
    color:var(--turquoise);
}
.pie-pagina .footer_copy small{
    font-size: 15px;
}