.figure--card{
    width: 200px;
    height: 150px;
}
.figure--card img{
    width: 200px;
    height: 150px;
}

.title--main{
    font-size: 3rem;
}
.psicologo--description p{
    font-size:1.4rem;
    
}

