
.back--bottom{
    left: 80%;
}

@keyframes underline-slide {
    0%, 100% {
        transform: translateX(10%); /* Cambia esta línea */
    }
    50% {
        transform: translateX(40%); /* Cambia esta línea */
    }
}

.title--main::after {
    left: 3%;
    width: 63%;
}